@model IEnumerable<BusinessLayer.MdlClasses.MdlFund>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FirmLayout.cshtml";
}
@section Header{
    @Html.Partial("~/Views/Shared/PartialViews/_Header.cshtml")
}

@section Sidebar{
    @Html.Partial("~/Views/Shared/PartialViews/_SideBar.cshtml")
}


@section BodyContent{

    <ol class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">BankAccounts</li>
    </ol>

    <p>
        @Html.ActionLink("New Fund", "Create")
    </p>

    <table id="example1" class="table table-striped table-responsive table-fixedheader  table-bordered ">
        <thead>
            <tr>
                <th>
                    Org FileNo
                </th>
                <th>
                    FundSource Name
                </th>
                <th>
                   Transfer Amount
                </th>
                <th>
                    Transfer Means
                </th>
                <th>
                    Received Year
                </th>
                <th>
                    Fund ID
                </th>
                <th>
                    IsActive
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.FileNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FundSourceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransferMeans)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransferAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RcvYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FundSourceID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.FundSourceID })
                    </td>
                </tr>
            }
        </tbody>

    </table>
}




@section FooterArea{

    @Html.Partial("~/Views/Shared/PartialViews/_Footer.cshtml")


}




