@model BusinessLayer.MdlClasses.MdlStaff
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_FirmLayout.cshtml";
}
@section Header{
    @Html.Partial("~/Views/Shared/PartialViews/_Header.cshtml")
}

@section Sidebar{
    @Html.Partial("~/Views/Shared/PartialViews/_SideBar.cshtml")
}


@section BodyContent{


    <style>
        .form-control {
            width: 400px;
        }

        .k-widget .k-multiselect .k-header {
            width: 274px !important;
        }

        .k-multiselect-wrap {
            width: 274px !important;
        }

        .k-multiselect.k-header {
            width: 274px !important;
        }

        .k-multiselect-wrap li {
            background-color: #efe2e2;
        }

        .form-horizontal {
            margin-left: 40px;
        }
    </style>
    <h2>Edit Staff</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="row">
                <div class="col-sm-6">
                    <label class="control-label">Select Organization</label>
                    <div>
                        <select class="form-control Org_ID" name="Org_ID" id="Org_ID" style="background:#fff">
                            <option value="0">--Select Organization--</option>
                            @foreach (var item in @Model.GetAllOrg_ID)
                            {
                                <option selected="@item.Selected" value="@item.Value">@item.Label</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Designation</label>
                    <div>
                        <select class="form-control Designation_ID" name="Designation_ID" id="Designation_ID" style="background:#fff">
                            <option value="0">--Select Designation--</option>

                            @foreach (var item in @Model.GetAllDesig_ID)
                            {
                                <option selected="@item.Selected" value="@item.Value">@item.Label - @item.OptionalLabel</option>
                            }
                        </select>
                    </div>



                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="control-label">Staff Name</label>
                    <div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                     
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">CNIC</label>
                    <div>
                        @Html.EditorFor(model => model.CNIC, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CNIC, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="control-label">ContactNo</label>
                    <div>
                        @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Salary</label>
                    <div>
                        @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })                      

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="control-label">IsActive</label>
                    <div>
                        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @*<input type="checkbox" id="IsActive" name="IsActive" class="form-control" value="@Model.IsActive" />*@
                        @*@Html.ValidationMessageFor(model => model.AssetValue, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <input type="hidden" name="StaffID" value="@Model.StaffID" id="StaffID" />
            <div class="row">
                <div class="col-sm-6">

                    <div style="margin-top:10px">
                        <input type="submit" id="UpdateStaff" value="Update" class="btn btn-default" />
                    </div>

                </div>


                <div class="col-sm-6">
                </div>

            </div>
        </div>    }
    <script>
        $("#UpdateStaff").click(function () {
            $("#Name").removeClass("errorClass");
            $("#CNIC").removeClass("errorClass");
            $("#ContactNo").removeClass("errorClass");
            $("#Salary").removeClass("errorClass");
            var isErrorOccurd = true;
            if ($.trim($("#Name").val()) == "") {
                $("#Name").addClass('errorClass');
                isErrorOccurd = false;
            }
            if ($.trim($("#CNIC").val()) == "") {
                $("#CNIC").addClass('errorClass');
                isErrorOccurd = false;
            }
            if ($.trim($("#ContactNo").val()) == "") {
                $("#ContactNo").addClass('errorClass');
                isErrorOccurd = false;
            }
            if ($.trim($("#Salary").val()) == "") {
                $("#Salary").addClass('errorClass');
                isErrorOccurd = false;
            }

            return isErrorOccurd;
        });
    </script>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}




@section FooterArea{
    @Html.Partial("~/Views/Shared/PartialViews/_Footer.cshtml")


}

