@model IEnumerable<BusinessLayer.MdlClasses.MdlPartner>
@{
    ViewBag.Title = "NGOGoverningBodyList";
    Layout = "~/Views/Shared/_FirmLayout.cshtml";
}

 

@section Header{
    @Html.Partial("~/Views/Shared/PartialViews/_Header.cshtml")
}

@section Sidebar{
    @Html.Partial("~/Views/Shared/PartialViews/_SideBar.cshtml")
}


@section BodyContent{
    <ol class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="/SocietyNGO">NGO-Society</a></li>
        <li class="active">NGO-SocietyGoverning Body</li>
    </ol>
    <p>
        @Html.ActionLink("Add GoverningBody", "NGOGoverningBody") /
        @Html.ActionLink("Add NGO-Society Witness", "CreateSocietyWitness", "Witness")
    </p>
    <table id="example2" class="table table-responsive table-striped table-bordered dataTable">

        <tr>

            <th>
                Name
                
            </th>
            <th>
              Cnic
            </th>
            
            
            <th>
                Address
               
            </th>
            <th>
                Contact #
                 
            </th>
            <th>
                Mobile #
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.OrgDoc_ID)
            </th>




            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>


            
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.PartnerID)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.PartnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartnerCNIC)
                </td>
               
               
                <td>
                    @Html.DisplayFor(modelItem => item.PartnerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartnerContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartnerMobileNo)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.OrgDoc_ID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

                
                <td>
                    @Html.ActionLink("Edit", "SocietyGoverningBodyEdit", new { id = item.PartnerID })
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }

    </table>

}

@section FooterArea{
    @Html.Partial("~/Views/Shared/PartialViews/_Footer.cshtml")


}
